*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.wrapper{
	width: 1000px;
}
ul{
	list-style-type: none;
}
.wrapper{
	position: relative;
	font-family: arial;
}
div>p{
	font-weight: bold;
}
/* LIGTH BOX */
.mostrarSoluciones{
	opacity: 0;
	position: fixed;
	width: 400px;
	top:30%;
	left:40%;
	background-color: #F8F9F9;
	border-radius: 6px;
	box-shadow: 3px 3px 10px 2px rgba(8,8,8,8);
}
.sol{
		margin: 20px;
		font-family: arial;
		font-weight: 600;
}

a{
	display: block;
	width: 50px;
	line-height: 50px;
	text-decoration: none;
	float:right;
	text-align: center;
	color: #C0392B;
	font-size: 30px;
}
label{
	padding: 5px;
}
li{
	margin: 10px;
}

#boton{
	opacity: 0;
	margin: 0 auto;
	width: 60px;
	height: 30px;
}

/* Estilos */

.temas{
	background-color:#333;
	color: #f2f2f2;
	line-height: 60px;
}
input[name=t_ini], input[name=t_fin],input[name=n] {
	width: 100px;
}
#ir{
	width: 50px;
	margin: 0 20px;
	width: 60px;
	height: 30px;
	font-weight: bold;
}

