
@font-face{
 font-family:'DigitalDismay';
 src: url('font/DigitalDismay.otf');
}

.digitos{
	width: 50px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	font-family: DigitalDismay;
	color: #00FF21FF;
	/*margin: 5px 5px;*/
	float:left;
}
.separador{
	float:left;
	width: 5px;
	height: 60px;
	line-height: 60px;
	color: #00FF21FF;
	/*margin: 5px 5px;*/
	font-family: DigitalDismay;

}
.cronometro{
	float:right;
	opacity:0;
}